body{ 
  margin:0;
}
.header{
  height:100px;
}
.information{
  background-color:rgb(241, 241, 212);
  margin-top:30px; 
  width:100%;
  padding:20px;
  height:650px; 
}
.info{
  width:100%; 
  padding:25px;
}
article {
  width:400px; 
  height:400px;
  background-color:rgb(250, 250, 228);
  padding:40px; 
  line-height: 1.8;
}
img{
  float:right;
  margin-left: 150px;
}
.App {
  background-color:rgb(241, 241, 212);
  height: 150px;
  padding:2% 10% 0 10%;
}
 ul li{
   list-style-type:none;
   display:block;
   float:right; 
}
li a{ 
  margin-right:50px;
  color: black; 
}
.footer{
  margin-top:150px;
  width: 100%;
  height:150px;
  padding:10px; 
  text-align: center;
  color: rgb(0, 0, 0);
}
.footer a{
  color:rgb(83, 11, 23);   
}

